<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>User management</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="menu" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()"> <a routerLink="/users" routerLinkActive="active">Users </a></mat-list-item>
      <mat-list-item (click)="sidenav.toggle()"> <a routerLink="/usergroup" routerLinkActive="active">User Groups</a> </mat-list-item>
      <mat-list-item (click)="sidenav.toggle()"> <a routerLink="/license" routerLinkActive="active">License</a> </mat-list-item>
     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>